# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they're usually used for local settings
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore lock files
.terraform.lock.hcl

# Ignore macOS system files
.DS_Store

# Ignore any local environment variable files
.envrc
.env
*.env

# Ignore IDE and editor-specific files
.idea/
.vscode/
*.swp
*.swo
*~

# Ignore log files
*.log
